# This is the service file for encarne

[Unit]
Description=Encarne encoder

[Service]
Restart=no
ExecStart=/usr/bin/encarne '/srv/files/movies'

[Install]
WantedBy=default.target
